mixin modal(data)
    +el({
        class: 'modal',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +overlay({
            mix: 'active',
            mod: 'modal'
        })
        .modal__wrap
            .modal__content
                +button-remove({
                    mix: 'modal__close'
                })
                if data.heading
                    +el({
                        tag: 'h3',
                        class: 'modal__heading',
                        text: data.heading,
                    })
                if data.video
                    iframe.modal__video(width='560' height='315' src=data.video allowfullscreen)
                block
