mixin card-reviews(data)
    +el({
        tag: 'article',
        class: 'card-reviews',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .card-reviews__header
            .card-reviews__name-wrap
                .card-reviews__name
                    | #{data.name}
                .card-reviews__place
                    | #{data.place}
            .card-reviews__image-wrap
                +el({
                    tag: 'img',
                    class: 'card-reviews__image',
                    src: data.image
                })
        .card-reviews__text
            +el({
                tag: 'p',
                text: data.text,
            })
