extends ./templates/template

block vars
    - var pageTitle = 'Остеопрактика'
    - var main = false

block content
    main.content.content--regular
        .content__wrap
            +breadcrumbs({
                mix: 'content__breadcrumbs',
                items: [
                    'Главная',
                    'Полезная информация',
                    'Остеопатия для футболистов. Лечение и профилактика стрессовых переломов'
                ]
            })
            article.article
                p.left
                    img(src='./assets/upload/image01.jpg' width='460' alt='')
                h1
                    | Остеопатия для футболистов. Лечение и профилактика стрессовых переломов
                .teaser(style='max-width: 400px;')
                    | По статистике  футбол является самым травмоопасным видом спорта
                p.
                    Это связано  с частыми столкновениями игроков на высокой скорости,
                    с ротационными движениями голени при фиксированной стопе,
                    с тренировками на жёстких ( искусственных)  покрытиях, высоким эмоциональным накалом игры.
                p.
                    Травмы у футболистов могут быть вызваны резким, превышающим  физиологический предел прочности тканей воздействием,
                    и тогда происходят разрывы связок, переломы, лечение которых проводится в специализированных стационарах,
                    часто с применением оперативных методов.
                p.
                    Но, часто травмы у испытывающих колоссальные нагрузки спортсменов происходят как бы исподволь, постепенно приводя
                    к невозможности дальнейших тренировок и, тем более, игр.

                p.right
                    img(src='./assets/upload/image02.jpg' width='460' alt='')
                p.
                    К таким патологиям относятся так называемые «стрессовые переломы».  Они возникают  при физических перегрузках однотипного характера,
                    когда в костной  ткани под  воздействием чрезмерной и постоянной нагрузки  происходит ремоделирование  костных балок.
                    Другими словами, кость на микроуровне получает переломы, которые затрагивают поначалу лишь  немного структурно-функциональных единиц
                    кости, на этом этапе возможно самозаживление, путём образования костной мозоли.
                p
                    b.
                        Но чрезмерные нагрузки продолжаются, и на том же месте возникают новые микропереломы, и опять появляются соединительнотканные мостики
                        для заживления этой зоны. Таким образом, формируются зоны патологической перестройки костной ткани, которые, при продолжающихся
                        перегрузках  приводят к реальному перелому.
                p.
                    Вот почему такие переломы называют «стрессовыми» - ведь происходят они в условиях стрессорного воздействия на кость ударных нагрузок.
                    Статистика указывает на большую частоту данных травм: они составляют около 10% всех спортивных повреждений, причем 95% их происходят
                    в костях голени и стопы.  У футболистов при резкой остановке после быстрого бега с поворотом на наружном отделе стопы наиболее
                    нагружаемой является 5-я плюсневая  кость.
