extends ./templates/template

block vars
    - var pageTitle = 'Категории - Остеопрактика'
    - var main = false

block content
    main.content.content--regular.content--category
        .content__wrap
            .content__aside
                +category({
                    mix: 'content__category',
                    items: [
                        {
                            text: 'Структуральная остеопатия',
                            href: '#',
                        },
                        {
                            text: 'Висцеральная остеопатия',
                        },
                        {
                            text: 'Кранио-сакральная остеопатия',
                        },
                        {
                            text: 'Биологическое центрирование',
                        },
                        {
                            text: 'Структуральная остеопатия',
                        },
                        {
                            text: 'Висцеральная остеопатия',
                        },
                        {
                            text: 'Кранио-сакральная остеопатия',
                        },
                        {
                            text: 'Биологическое центрирование',
                        },
                    ],
                })
            .content__main
                article.category-article
                    h1
                        | Структуральная остеопатия
                    p.
                        Основным лечебным действием остеопатии является стимуляция механизмов самоконтроля организма.
                        Одним из видов этого метода лечения является структурная остеопатия. Она применяется при болях в спине,
                        суставной, костной и мышечных системах. При этом устранение болевого синдрома достигается без медикаментов,
                        а путем легких прикосновений рук врача и практически не заметных для пациента смещений тканей.

                    p.
                        Структуральная (некоторые специалисты предпочитают название «структурная») остеопатия является одним
                        из важнейших разделов остеопатии и занимается в основном решением проблем, связанных с опорно-двигательным аппаратом
                        человека (кости, связки и сухожилия, мышцы и фасции, в т.ч. включая структуры, проходящие в них).

                    p.
                        Врач-остеопат в совершенстве знает не только строение и функции всех органов и систем в норме и патологии,
                        но и весьма компетентен в вопросах биомеханики всех сочленений и суставов человеческого организма.
                        Это позволяет ему точно устанавливать минимальные, не видимые глазом и зачастую не всегда ощущаемые человеком,
                        нарушения их подвижности и своевременно, с учетом всех индивидуальных особенностей организма пациента, устранять
                        их еще до возникновения выраженных признаков заболеваний. При этом остеопат не только корректирует уже возникшие изменения,
                        но и выявляет первопричину их появления, и устраняет ее.
                    p
                        img(src='./assets/upload/massage.jpg' alt='' width='680')
                    h2
                        | Методы структуральной остеопатии эффективны при таких заболеваних как:

                    ul
                        li остеохондроз любой локализации и его осложнения
                        li артриты и артрозы, периартрозы, бурситы и т.п.,
                        li системные заболевания (ревматоидный полиартрит, болезнь Бехтерева и т.д.)
                        li люмбоишиалгии, радикулиты, невралгии, невриты, - нарушения осанки, сколиозы
                        li миозиты, лигаментиты и лигаментозы, туннельные синдромы,
                        li нарушения мозгового кровообращения, головокружения,
                        li невротические состояния, головная боль
                        li нарушения сна,
                        li синдром хронической усталости и т.д.
                        li состояния после травм и операций.

                    p.
                        Уже во время первого сеанса остеопатии после выявления с помощью специальных диагностических остеопатических тестов
                        даже минимальных нарушений, врач-остеопат проводит их корректировку, восстанавливая нормальные анатомические соотношения,
                        снимая напряжения и спазмы миофасциальных кровоснабжение и лимфоотток, а также оптимизируя иннервацию. Все это оказывает выраженный
                        саногенный (оздоравливающий) эффект, способствует устранению боли, дискомфорта и активизирует процессы саморегуляции в организме пациента.
