extends ./templates/template

block vars
    - var pageTitle = 'Контакты - Остеопрактика'
    - var main = false
    - var pageId = 9

block content
    main.content.content--contacts
        .content__wrap
            +contacts({
                mix: 'content__contacts',
            })
        +map({
            mix: 'content__map',
            href: 'https://yandex.ru/maps/-/CBFeVOV0cA'
        })
