extends ./templates/template

block vars
    - var pageTitle = 'Вопросы и ответы - Остеопрактика'
    - var main = false
    - var pageId = 6

block content
    main.content.content--regular
        .content__wrap
            h1.content__heading
                | Вопросы и ответы
            +lead({
                mix: 'content__lead',
                mod: 'line-left',
                text: '<span class="text-medium">Раздел «Вопросы и ответы»</span> направлен на то, чтобы найти ответы на вопросы, которые возникают при изучении остеопатии, поиске нужных услуг или общего развития'
            })

            .content__dropdown-wrap
                +dropdown({
                    mix: 'content__dropdown',
                    heading: 'Признана ли остеопатия официальной медициной?',
                    text: 'Равным образом, убежденность некоторых оппонентов создает предпосылки для дальнейших направлений развития. В своем стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут указаны как претенденты на роль ключевых факторов.'
                })
                +dropdown({
                    mix: 'content__dropdown',
                    heading: 'Насколько безопасна остеопатия?',
                    text: 'Равным образом, убежденность некоторых оппонентов создает предпосылки для дальнейших направлений развития. В своем стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут указаны как претенденты на роль ключевых факторов.'
                })
                +dropdown({
                    mix: 'content__dropdown',
                    heading: 'Как найти настоящего остеопата?',
                    text: 'Равным образом, убежденность некоторых оппонентов создает предпосылки для дальнейших направлений развития. В своем стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут указаны как претенденты на роль ключевых факторов.'
                })
                +dropdown({
                    mix: 'content__dropdown',
                    heading: 'Не опасна ли остеопатия для беременных и малышей?',
                    text: 'Равным образом, убежденность некоторых оппонентов создает предпосылки для дальнейших направлений развития. В своем стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут указаны как претенденты на роль ключевых факторов.'
                })
                +dropdown({
                    mix: 'content__dropdown',
                    heading: 'Сколько длится сеанс?',
                    text: 'Равным образом, убежденность некоторых оппонентов создает предпосылки для дальнейших направлений развития. В своем стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут указаны как претенденты на роль ключевых факторов.'
                })
