include ./templates/head.pug

doctype html
html(lang="ru-RU")
    +head()

    .content.content--regular
      .content__wrap
        ul
          li
            a(href="main.html") Главная
          li
            a(href="faq.html") Вопросы и ответы
          li
            a(href="info.html") Полезная информация
          li
            a(href="reviews.html") Отзывы
          li
            a(href="category.html") Категории
          li
            a(href="article.html") Статья
          li
            a(href="contacts.html") Контакты
          li
            a(href="typography.html") Типографика
