extends ./templates/template

block vars
    - var pageTitle = 'Остеопрактика'
    - var main = true
    - var pageId = 1

block content
    main.content
        +intro({
            mix: 'content__section content__section--intro',
        })
        +problems({
            mix: 'content__section content__section--problems',
        })
        +reception({
            mix: 'content__section content__section--reception',
        })
        +bio({
            mix: 'content__section content__section--bio',
        })


    //-  +modal({
        mod: 'price-order'
        })
            +price-order({})
