extends ./templates/template

block vars
    - var pageTitle = 'Полезная информация - Остеопрактика'
    - var main = false
    - var pageId = 8
    -
        var cardsInfo = [
            {
                image: 'info01.jpg',
                heading: 'Медицина здоровых людей. Вчера, сегодня, завтра',
                text: 'В каком мире мы живем? В постоянно меняющемся и развивающемся, подкидывающем нам неожиданные события – радостные и печальные, в мире технологий',
                time: '5 марта 2019',
            },
            {
                image: 'info02.jpg',
                heading: 'Остеопатия в офтальмологии',
                text: 'Остеопатия как новое направление традиционной медицины использует комплексный метод. Конечно, здесь мы будем говорить только о терапии. Физически',
                time: '5 марта 2019'
            },
            {
                image: 'info03.jpg',
                heading: 'Лечение и профилактика стрессовых переломов',
                text: 'По статистике  футбол является самым травмоопасным видом спорта. Это связано  с частыми столкновениями игроков на высокой скорости,  с ротацио',
                time: '5 марта 2019',
            },
            {
                image: 'info03.jpg',
                heading: 'Лечение и профилактика стрессовых переломов',
                text: 'По статистике  футбол является самым травмоопасным видом спорта. Это связано  с частыми столкновениями игроков на высокой скорости,  с ротацио',
                time: '5 марта 2019',
            },
            {
                image: 'info01.jpg',
                heading: 'Медицина здоровых людей. Вчера, сегодня, завтра',
                text: 'В каком мире мы живем? В постоянно меняющемся и развивающемся, подкидывающем нам неожиданные события – радостные и печальные, в мире технологий',
                time: '5 марта 2019',
            },
            {
                image: 'info02.jpg',
                heading: 'Остеопатия в офтальмологии',
                text: 'Остеопатия как новое направление традиционной медицины использует комплексный метод. Конечно, здесь мы будем говорить только о терапии. Физически',
                time: '5 марта 2019',
            },
            {
                image: 'info01.jpg',
                heading: 'Медицина здоровых людей. Вчера, сегодня, завтра',
                text: 'В каком мире мы живем? В постоянно меняющемся и развивающемся, подкидывающем нам неожиданные события – радостные и печальные, в мире технологий',
                time: '5 марта 2019',
            },
            {
                image: 'info02.jpg',
                heading: 'Остеопатия в офтальмологии',
                text: 'Остеопатия как новое направление традиционной медицины использует комплексный метод. Конечно, здесь мы будем говорить только о терапии. Физически',
                time: '5 марта 2019',
            },
            {
                image: 'info03.jpg',
                heading: 'Лечение и профилактика стрессовых переломов',
                text: 'По статистике  футбол является самым травмоопасным видом спорта. Это связано  с частыми столкновениями игроков на высокой скорости,  с ротацио',
                time: '5 марта 2019',
            },
        ];

block content
    main.content.content--regular
        .content__wrap
            h1.content__heading
                | Полезная информация
            ul.content__card-list
                each item in cardsInfo
                    li.content__card-item
                        +card-info({
                            image: item.image,
                            heading: item.heading,
                            text: item.text,
                            time: item.time
                        })
