extends ./templates/template

block vars
    - var pageTitle = 'Отзывы - Остеопрактика'
    - var main = false
    - var pageId = 7
    -
        var cardsReviews1 = [
            {
                name: 'Иванова М. Ю.',
                place: 'Симферополь',
                image: 'reviews01.jpg',
                text: 'Хочу выразить свою благодарность за оказанные услуги! Валентин чуткий мастер и знающий своё дело специалист. Результаты видны после первого занятия, техника остеобаланса работает безупречно. Желаю успехов в развитие благого дела и рекомендую всем,не экономьте на своём и своих близких здоровье!!!',
            },
            {
                name: 'Смирнов В. Г.',
                place: 'Симферополь',
                image: 'reviews02.jpg',
                text: 'В частности, новая модель организационной деятельности обеспечивает актуальность переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Внезапно, акционеры крупнейших компаний ',
            },
        ];
    -
        var cardsReviews2 = [
            {
                name: 'Иванова М. Ю.',
                place: 'Симферополь',
                image: 'reviews01.jpg',
                text: 'Хочу выразить свою благодарность за оказанные услуги! Валентин чуткий мастер и знающий своё дело специалист. Результаты видны после первого занятия, техника остеобаланса работает безупречно. Желаю успехов в развитие благого дела и рекомендую всем,не экономьте на своём и своих близких здоровье!!!',
            },
            {
                name: 'Смирнов В. Г.',
                place: 'Симферополь',
                image: 'reviews02.jpg',
                text: 'В частности, новая модель организационной деятельности обеспечивает актуальность переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Внезапно, акционеры крупнейших компаний ',
            },
            {
                name: 'Иванова М. Ю.',
                place: 'Симферополь',
                image: 'reviews01.jpg',
                text: 'Хочу выразить свою благодарность за оказанные услуги! Валентин чуткий мастер и знающий своё дело специалист. Результаты видны после первого занятия, техника остеобаланса работает безупречно. Желаю успехов в развитие благого дела и рекомендую всем,не экономьте на своём и своих близких здоровье!!!',
            },
            {
                name: 'Смирнов В. Г.',
                place: 'Симферополь',
                image: 'reviews02.jpg',
                text: 'В частности, новая модель организационной деятельности обеспечивает актуальность переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Внезапно, акционеры крупнейших компаний ',
            },
            {
                name: 'Иванова М. Ю.',
                place: 'Симферополь',
                image: 'reviews01.jpg',
                text: 'Хочу выразить свою благодарность за оказанные услуги! Валентин чуткий мастер и знающий своё дело специалист. Результаты видны после первого занятия, техника остеобаланса работает безупречно. Желаю успехов в развитие благого дела и рекомендую всем,не экономьте на своём и своих близких здоровье!!!',
            },
            {
                name: 'Смирнов В. Г.',
                place: 'Симферополь',
                image: 'reviews02.jpg',
                text: 'В частности, новая модель организационной деятельности обеспечивает актуальность переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Внезапно, акционеры крупнейших компаний ',
            },
        ]

block content
    main.content.content--regular
        .content__wrap
            h1.content__heading
                | Отзывы
            .content__lead.
            +lead({
                mix: 'content__lead',
                mod: 'line-left',
                text: '<span class="text-medium">На данной странице сайта Вы можете оставить свой отзыв</span>, замечания по работе нашей компании или предложения по совершенствованию деловых отношений.'
            })
            .content__card-list.content__card-list--reviews
                each item in cardsReviews1
                    li.content__card-item
                        +card-reviews({
                            name: item.name,
                            place: item.place,
                            image: item.image,
                            text: item.text
                        })
                li.content__card-item
                    +card-form({
                          mix: 'reception__card-form',
                          heading: 'Оставить отзыв'
                      })
                          +content-form({
                              userName: true,
                              email: true,
                              message: {
                                  placeholder: 'Отзыв',
                              },
                              personalData: true,
                              submit: 'Отправить',
                          })
                each item in cardsReviews2
                    li.content__card-item
                        +card-reviews({
                            name: item.name,
                            place: item.place,
                            image: item.image,
                            text: item.text
                        })
