extends ./templates/template

block vars
    - var pageTitle = 'Отзывы - Остеопрактика'
    - var main = false
    - var pageId = 7

block content
    main.content.content--regular
        .content__wrap
            h1.content__heading
                | Отзывы
            +lead({
                mix: 'content__lead',
                mod: 'line-left',
                text: '<span class="text-medium">На данной странице сайта Вы можете оставить свой отзыв</span>, замечания по&nbsp;работе нашей компании или предложения по&nbsp;совершенствованию деловых отношений.'
            })
            +reviews({
                mix: 'content__reviews'
            })
            +button({
                mix: 'content__bottom-btn',
                mod: 'border',
                text: 'Показать ещё',
            })
