mixin dropdown(data)
    +el({
        class: 'dropdown',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +button({
            mix: 'dropdown__btn',
            mod: 'cross',
            text: data.heading,
            cross: true,
        })
        +el({
            class: 'dropdown__content',
            text: data.text,
        })
