.dropdown {
  border-radius: 5px;

  &.active {
    .dropdown__content {
      display: block;
    }

    .btn__cross {
      &::after {
        opacity: 0;
      }
    }
  }
}

.dropdown__btn {
  position: relative;
  z-index: 1;
  outline: none;
}

.dropdown__content {
  display: none;
  padding: 0 20px;
  padding-bottom: 20px;
  background-color: color(light);
  animation-name: opacity;
  animation-duration: 0.6s;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include respond-to(medium) {
  .dropdown__content {
    padding: 0 100px;
    padding-bottom: 30px;
  }
}

@include respond-to(large) {
  .dropdown__content {
    padding-left: 140px;
    padding-right: 100px;
  }
}
