.content {
  &--regular {
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &--contacts {
    margin-top: 60px;
    padding-top: 30px;
  }
}

.content__wrap {
  @include wrapper;
}

.content__section {
  &--intro,
  &--problems {
    margin-bottom: 40px;
  }

  &--reception,
  &--bio {
    margin-bottom: 0;
  }
}

.content__breadcrumbs {
  margin-bottom: 30px;
}

.content__heading {
  margin-bottom: 28px;
}

.content__lead {
  margin-bottom: 30px;
}

.content__card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content__card-item {
  margin-bottom: 20px;
}

.content__dropdown {
  margin-bottom: 20px;
}

.content__contacts {
  position: relative;
  z-index: 1;
}

.content__bottom-btn {
  width: 100%;
}

@include respond-to(medium) {
  .content {
    &--regular {
      margin-top: 95px;
    }

    &--contacts {
      margin-top: 95px;
    }

    &--category {
      .content__wrap {
        display: flex;
      }
    }
  }

  .content__aside {
    flex-shrink: 0;
    width: 260px;
    margin-right: 20px;
  }

  .content__section {
    &--intro,
    &--problems {
      margin-bottom: 50px;
    }
  }

  .content__heading {
    margin-bottom: 36px;
  }

  .content__lead {
    width: 80%;
    margin-bottom: 40px;
  }

  .content__card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
  }

  .content__card-item {
    width: 50%;
    padding: 0 15px;
  }

  .content__dropdown {
    margin-bottom: 30px;
  }

  .content__bottom-btn {
    display: block;
    width: auto;
    min-width: 270px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@include respond-to(large) {
  .content {
    &--regular {
      margin-top: 0;
      padding-top: 40px;
      padding-bottom: 50px;
    }

    &--contacts {
      margin-top: 0;
      padding-top: 40px;
    }
  }

  .content__aside {
    width: 390px;
    margin-right: 65px;
  }

  .content__section {
    &--intro,
    &--problems {
      margin-bottom: 60px;
    }
  }

  .content__heading {
    margin-bottom: 40px;
  }

  .content__lead {
    width: 68%;
    margin-bottom: 50px;
  }

  .content__card-item {
    width: 33.33%;
  }

}
