.content__wrapper {
  @include wrapper;
}

.content__section {
  &--intro,
  &--problems {
    margin-bottom: 40px;
  }

  &--reception,
  &--bio {
    margin-bottom: 0;
  }
}

@include respond-to(medium) {
  .content__section {
    &--intro,
    &--problems {
      margin-bottom: 50px;
    }
  }
}

@include respond-to(large) {
  .content__section {
    &--intro,
    &--problems {
      margin-bottom: 60px;
    }
  }
}
