.problems__wrap {
  @include wrapper;
}

.problems__heading {
  font-size: 18px;
}

.problems__image {
  margin-left: - pads(small);
  margin-bottom: 30px;
  margin-right: 10%;

  .half-round__picture {
    img {
      width: 100%;
      height: 100%;
      @include ofi(cover, top center);
    }
  }
}

.problems__btn {
  width: 100%;
  margin-top: 20px;
}

@include respond-to(medium) {
  .problems {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: $half-round-size-lg-md;
  }

  .problems__wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .problems__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-100%);
    margin-left: 0;
    margin-right: 0;
  }

  .problems__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    padding-left: 40px;
  }

  .problems__heading {
    font-size: 24px;
    transform: translate(-40px);
  }

  .problems__list {
    flex-grow: 1;
    margin-bottom: 30px;
  }

  .problems__btn {
    width: auto;
    width: 286px;
    margin-top: auto;
  }
}

@include respond-to(large) {
  .problems {
    min-height: $half-round-size-lg-lg;
  }

  .problems__text {
    padding-left: 50px;
  }

  .problems__heading {
    margin-bottom: 40px;
    font-size: 36px;
    transform: translate(-90px);
  }

  .problems__list {
    margin-bottom: 40px;
  }
}
