$half-round-size-sm: 240px;
$half-round-size-520: 320px;
$half-round-size-md: 440px;
$half-round-size-lg: 630px;

$half-round-size-lg-sm: 220px;
$half-round-size-lg-520: 340px;
$half-round-size-lg-md: 520px;
$half-round-size-lg-lg: 680px;

.half-round {
  height: $half-round-size-sm;
  overflow: hidden;

  &--left {
    border-radius: ($half-round-size-sm / 2) 0 0 ($half-round-size-sm / 2);
  }

  &--right {
    border-radius: 0 ($half-round-size-sm / 2) ($half-round-size-sm / 2) 0;
  }

  &--lg {
    height: $half-round-size-lg-sm;
  }

  &--left-lg {
    border-radius: ($half-round-size-lg-sm / 2) 0 0 ($half-round-size-lg-sm / 2);
  }

  &--right-lg {
    border-radius: 0 ($half-round-size-lg-sm / 2) ($half-round-size-lg-sm / 2) 0;
  }
}

.half-round__picture,
.half-round__picture img {
  max-width: none;
  width: auto;
  height: 100%;
}

@include respond-to(520px) {
  .half-round {
    height: $half-round-size-520;

    &--left {
      border-radius: ($half-round-size-520 / 2) 0 0 ($half-round-size-520 / 2);
    }

    &--right {
      border-radius: 0 ($half-round-size-520 / 2) ($half-round-size-520 / 2) 0;
    }

    &--520 {
      height: $half-round-size-lg-520;
    }

    &--left-lg {
      border-radius: ($half-round-size-lg-520 / 2) 0 0 ($half-round-size-lg-520 / 2);
    }

    &--right-lg {
      border-radius: 0 ($half-round-size-lg-520 / 2) ($half-round-size-lg-520 / 2) 0;
    }
  }
}


@include respond-to(medium) {
  .half-round {
    height: $half-round-size-md;

    &--left {
      border-radius: ($half-round-size-md / 2) 0 0 ($half-round-size-md / 2);
    }

    &--right {
      border-radius: 0 ($half-round-size-md / 2) ($half-round-size-md / 2) 0;
    }

    &--lg {
      height: $half-round-size-lg-md;
    }

    &--left-lg {
      border-radius: ($half-round-size-lg-md / 2) 0 0 ($half-round-size-lg-md / 2);
    }

    &--right-lg {
      border-radius: 0 ($half-round-size-lg-md / 2) ($half-round-size-lg-md / 2) 0;
    }
  }
}

@include respond-to(large) {
  .half-round {
    width: auto;
    height: $half-round-size-lg;

    &--left {
      border-radius: ($half-round-size-lg / 2) 0 0 ($half-round-size-lg / 2);
    }

    &--right {
      border-radius: 0 ($half-round-size-lg / 2) ($half-round-size-lg / 2) 0;
    }

    &--lg {
      height: $half-round-size-lg-lg;
    }

    &--left-lg {
      border-radius: ($half-round-size-lg-lg / 2) 0 0 ($half-round-size-lg-lg / 2);
    }

    &--right-lg {
      border-radius: 0 ($half-round-size-lg-lg / 2) ($half-round-size-lg-lg / 2) 0;
    }
  }
}
