.phone-header {
  @include list-none;
}

.phone-header__item {
  margin-bottom: 10px;
}

.phone-header__descr,
.phone-header__number {
  display: block;
}

.phone-header__descr {
  margin-bottom: 5px;
  color: color(primary);
  font-size: 14px;
}

.phone-header__number {
  font-size: 14px;
  text-decoration: none;

  span {
    font-size: 18px;
    font-weight: 500;
  }
}

@include respond-to(large) {
  .phone-header {
    display: table;
  }

  .phone-header__item {
    display: table-row;
    margin-bottom: 0;
  }

  .phone-header__descr {
    margin-bottom: 0;
    padding-right: 10px;
  }

  .phone-header__descr,
  .phone-header__number {
    display: table-cell;
  }
}
