.principles {
  background-color: color(primary);
  color: color(white);
}

.principles__wrap {
  @include wrapper;
  padding-top: 30px;
  padding-bottom: 20px;
}

.principles__heading {
  color: inherit;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
}

.principles__large-heading {
  font-size: 40px;
}

.principles__sub-heading {
  display: block;
  margin-top: 6px;
  text-transform: none;
  color: color(black);
  font-weight: 700;
  font-size: 25px;
}

@include respond-to(medium) {
  .principles__wrap {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .principles__text-wrap {
    max-width: 720px;
  }

  .principles__heading {
    font-size: 40px;
  }

  .principles__large-heading {
    font-size: 52px;
  }

  .principles__sub-heading {
    margin-top: 8px;
    font-size: 37px;
  }

  .principles__card-form {
    max-width: 490px;
    margin-bottom: -48px;
  }

}

@include respond-to(large) {
  .principles__wrap {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .principles__heading {
    font-size: 48px;
  }

  .principles__large-heading {
    font-size: 60px;
  }

  .principles__sub-heading {
    margin-top: 10px;
    font-size: 45px;
  }

  .principles__card-form {
    max-width: 490px;
    margin-bottom: -58px;
  }
}
