mixin principles(data)
    +el({
        tag: 'section',
        class: 'principles',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .principles__wrap
            .principles__text-wrap
                +el({
                    tag: 'h2',
                    class: 'principles__heading',
                })
                    span.principles__large-heading ТОП 10
                    |
                    | основных
                    br
                    | принципов остеопатии
                    span.principles__sub-heading от основателя метода
                        br
                        | Эндрю Тейлора Стилла

            +form-card({
                mix: 'principles__form-card',
                mod: 'dark-shadow',
            })
                +content-form({
                    userName: true,
                    email: true,
                    phone: true,
                    personalData: true,
                    submit: 'Получить бесплатно',
                })
            +el({
                class: 'principles__image',
                tag: 'img',
                src: 'book.png'
            })
        .principles__strip
