mixin card-info(data)
    +el({
        tag: 'article',
        class: 'card-info',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'a',
            class: 'card-info__image-link',
        })
            +el({
                tag: 'img',
                class: 'card-info__image',
                src: data.image
            })
        .card-info__content
            +el({
                tag: 'h3',
                class: 'card-info__heading',
            })
                +el({
                    tag: 'a',
                    text: data.heading,
                })
            +el({
                tag: 'p',
                class: 'card-info__text',
                text: data.text,
            })
            .card-info__footer
                +el({
                    tag: 'time',
                    class: 'card-info__time',
                    text: data.time,
                })
