mixin circle(data)
    svg.circle(viewBox='0 0' + data.size + ' ' + data.size, xmlns='http://www.w3.org/2000/svg')
        circle(cx='50%' cy='50%' r=data.size - data.radius, stroke=data.stroke)
        defs
            linearGradient#circle-gradient(x1='0%' y1='0%' x2='100%' y2='100%')
                stop(offset='0%' stop-color='#3599c4')
                stop(offset='100%' stop-color='transparent')
