$fonts: (
  primary: #{"Helvetica Neue", "Helvetica CY", "Pragmatica", "Roboto", sans-serif, "Nimbus Sans L", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"},
  monospace: #{"SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace},
);

$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1220px,
);

$pads: (
  small: 20px,
  medium: 30px,
  large: 40px,
);

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$colors: (
  primary: #3599c4,
  dark-primary: #176888,
  secondary: #077bad,
  light: #eff5f3,
  light-gray: #c9c9c6,
  gray: #94a1a8,
  dark-gray: #4a4a4a,
  black: #353535,
  white: #fff,
  error: #d0021b,
  disabled: #c9c9c6,
);

// время анимаций
$durations: (
  md: 0.3s,
  lg: 0.6s,
);

// для бордер-радиусов
$rad: (
  sm: 5px,
);

$func: (
  primary: cubic-bezier(0.25, 0.1, 0.25, 1),
);

$change-color: 10%;
