mixin button-down(data)
    +el({
        tag: 'button',
        class: 'btn-down',
        mod: data.mod,
        mix: data.mix,
        ariaLabel: 'Вниз'
    })&attributes(attributes)
        +el({
            tag: 'svg',
            class: 'btn-down__arrow',
            icon: 'arrow',
            mod: 'top',
        })
        +el({
            tag: 'svg',
            class: 'btn-down__arrow',
            icon: 'arrow',
            mod: 'bottom',
        })
