.intro-features {
  @include list-none;
}

.intro-features__item {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(#fff, 0.5);
  background-color: rgba(#000, 0.9);
  color: color(white);
  line-height: 1.2
}

.intro-features__icon {
  flex-shrink: 0;
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  fill: currentColor;
}

.intro-features__main-text {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.intro-features__sub-text {
  display: block;
  font-size: 14px;
}

@include respond-to(620px) {
  .intro-features {
    display: flex;
  }

  .intro-features__item {
    width: 33.33%;
    border-bottom: none;
    border-right: 1px solid rgba(#fff, 0.5);
  }
}

@include respond-to(medium) {
  .intro-features__item {
    padding: 20px;
  }

  .intro-features__icon {
    width: 30px;
    height: 30px;
  }

  .intro-features__main-text {
    font-size: 20px;
  }
}

@include respond-to(large) {
  .intro-features {
    display: block;
  }

  .intro-features__item {
    width: 100%;
    margin-bottom: 20px;
    border-right: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .intro-features__icon {
    width: 32px;
    height: 32px;
  }

  .intro-features__main-text {
    font-size: 24px;
  }
}
