.bio {
  background-color: #fdfdfe;
}

.bio__wrap {
  @include wrapper;
  padding-top: 30px;
  padding-bottom: 20px;
}

.bio__heading {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.bio__large-text {
  font-size: 20px;
}

.bio__list {
  .list__item {
    margin-bottom: 10px;
    text-transform: uppercase;

    span {
      display: block;
      text-transform: none;
    }
  }
}

@include respond-to(medium) {
  .bio {
    background-color: #fdfdfe;
    background-image: url('../assets/images/bio.png');
    background-size: cover;
    background-position: 10% center;
    background-repeat: no-repeat;
  }

  .bio__wrap {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bio__text-wrap {
    max-width: 450px;
  }

  .bio__heading {
    font-size: 36px;
  }

  .bio__list {
    .list__item {
      margin-bottom: 12px;
    }
  }

  .bio__large-text {
    font-size: 22px;
  }
}

@include respond-to(large) {
  .bio {
    background-position: 0 center;
  }

  .bio__wrap {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .bio__heading {
    font-size: 48px;
  }

  .bio__list {
    .list__item {
      margin-bottom: 14px;
    }
  }

  .bio__large-text {
    font-size: 24px;
  }
}

@include respond-to(1600px) {
  .bio {
    background-position: 100% center;
    background-size: contain;
  }
}
