mixin bio(data)
    +el({
        tag: 'section',
        class: 'bio',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .bio__wrap
            .bio__text-wrap
                h2.bio__heading
                    | Биологическое центрирование
                .bio__text
                    p.bio__large-text Помощь при:
                    +list({
                        mix: 'bio__list',
                        mod: ['style-border'],
                        items: [
                            'психосоматических расстройствах <span>(нарушение сна, хроническая усталость, апатия, негативы, раздражительность, стрессы)</span>',
                            'чувстве вины',
                            'обидах',
                            'сложностях в отношениях',
                            'проблемах с выбором',
                            'психотравмах',
                            'межличностных отношениях',
                            'беспокойстве о прошлом и будущем',
                        ]
                    })
