mixin header(data)

    -
        var phones = [
            {
                descr: 'Симферополь',
                href: '79785032856',
                phone: '<span>+7 (978)</span> 503-28-56',
            },
            {
                descr: 'Санкт-Петербург',
                href: '78121234567',
                phone: '<span>+7 (812)</span> 123-45-67',
            },
        ];

    -
        var person = {
            prof: 'Доктор-остеопат',
            lastName: 'Иванчегло',
            firstName: 'Валентин Александрович'
        };

    -
        var nav = [
            {
                text: 'Главная',
                href: 'index.html',
            },
            {
                text: 'О докторе',
                href: '',
            },
            {
                text: 'Остеопрактика',
                href: '',
            },
            {
                text: 'Биологическое центрирование',
                href: '',
            },
            {
                text: 'Остеопатия',
                href: '',
            },
            {
                text: 'Вопрос-ответ',
                href: 'faq.html',
            },
            {
                text: 'Отзывы',
                href: 'reviews.html',
            },
            {
                text: 'Полезная информация',
                href: 'info.html',
            },
            {
                text: 'Контакты',
                href: 'contacts.html',
            },
        ];

    +el({
        tag: 'header',
        class: 'header',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'header__wrap',
        })
            .header__top
                +logo({
                    mix: 'header__logo',
                    header: true,
                    mod: 'header',
                })
                +person({
                    mix: 'header__person',
                    person: person
                })
                +phone-header({
                    mix: 'header__phone header__phone--desk',
                    items: phones
                })
                +button-nav({
                    mix: 'header__button-nav',
                })
            nav.header__main-nav
                +main-nav({
                    items: nav
                })
                +phone-header({
                    mix: 'header__phone header__phone--mob',
                    items: phones
                })
            +overlay({
                mod: 'header'
            })
