mixin slogan(data)
    +el({
        tag: 'h1',
        class: 'slogan',
        text: data.heading,
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'span',
            class: 'slogan__subheading',
            text: data.subheading,
        })
