.slogan {
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
}

.slogan__subheading {
  position: relative;
  display: block;

  padding-left: 40px;
  font-size: 17px;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: color(primary);
  }
}

.slogan__primary {
  color: color(primary);
}

@include respond-to(420px) {
  .slogan {
    font-size: 32px;
  }

  .slogan__subheading {
    font-size: 18px;
  }
}

@include respond-to(medium) {
  .slogan {
    font-size: 32px;
  }

  .slogan__subheading {
    margin-top: 20px;
    padding-left: 80px;
    font-size: 20px;

    &::before {
      top: 16px;
      width: 70px;
    }
  }

  .slogan__primary {
    color: color(primary);
  }
}

@include respond-to(920px) {
  .slogan {
    font-size: 36px;
  }

  .slogan__subheading {
    font-size: 20px;
  }
}

@include respond-to(1020px) {
  .slogan {
    font-size: 40px;
  }

  .slogan__subheading {
    font-size: 22px;
  }
}

@include respond-to(large) {
  .slogan {
    font-size: 48px;
  }

  .slogan__subheading {
    margin-top: 40px;
    padding-left: 130px;
    font-size: 24px;

    &::before {
      top: 20px;
      width: 115px;
    }
  }

  .slogan__primary {
    color: color(primary);
  }
}
