mixin map(data)
    +el({
        class: 'map',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
        id: 'map'
    })
            //-script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A02d209c96ffea1bc9f5c86a928127626c9261f3a013dfd839d8fd7c2a581e524&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false")
