mixin card-form(data)
    +el({
        class: 'card-form',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        if data.heading
            +el({
                tag: 'h3',
                class: 'card-form__heading',
                text: data.heading,
            })
        block
