mixin reviews(data)
    -
        var cardsReviews1 = [
            {
                name: 'Иванова М. Ю.',
                place: 'Симферополь',
                image: 'reviews01.jpg',
                text: 'Хочу выразить свою благодарность за оказанные услуги! Валентин чуткий мастер и знающий своё дело специалист. Результаты видны после первого занятия, техника остеобаланса работает безупречно. Желаю успехов в развитие благого дела и рекомендую всем,не экономьте на своём и своих близких здоровье!!!',
            },
            {
                name: 'Смирнов В. Г.',
                place: 'Симферополь',
                image: 'reviews02.jpg',
                text: 'В частности, новая модель организационной деятельности обеспечивает актуальность переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Внезапно, акционеры крупнейших компаний ',
            },
        ];
    -
        var cardsReviews2 = [
            {
                name: 'Иванова М. Ю.',
                place: 'Симферополь',
                image: 'reviews01.jpg',
                text: 'Хочу выразить свою благодарность за оказанные услуги! Валентин чуткий мастер и знающий своё дело специалист. Результаты видны после первого занятия, техника остеобаланса работает безупречно. Желаю успехов в развитие благого дела и рекомендую всем,не экономьте на своём и своих близких здоровье!!!',
            },
            {
                name: 'Смирнов В. Г.',
                place: 'Симферополь',
                image: 'reviews02.jpg',
                text: 'В частности, новая модель организационной деятельности обеспечивает актуальность переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Внезапно, акционеры крупнейших компаний ',
            },
            {
                name: 'Иванова М. Ю.',
                place: 'Симферополь',
                image: 'reviews01.jpg',
                text: 'Хочу выразить свою благодарность за оказанные услуги! Валентин чуткий мастер и знающий своё дело специалист. Результаты видны после первого занятия, техника остеобаланса работает безупречно. Желаю успехов в развитие благого дела и рекомендую всем,не экономьте на своём и своих близких здоровье!!!',
            },
            {
                name: 'Смирнов В. Г.',
                place: 'Симферополь',
                image: 'reviews02.jpg',
                text: 'В частности, новая модель организационной деятельности обеспечивает актуальность переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Внезапно, акционеры крупнейших компаний ',
            },
            {
                name: 'Иванова М. Ю.',
                place: 'Симферополь',
                image: 'reviews01.jpg',
                text: 'Хочу выразить свою благодарность за оказанные услуги! Валентин чуткий мастер и знающий своё дело специалист. Результаты видны после первого занятия, техника остеобаланса работает безупречно. Желаю успехов в развитие благого дела и рекомендую всем,не экономьте на своём и своих близких здоровье!!!',
            },
            {
                name: 'Смирнов В. Г.',
                place: 'Симферополь',
                image: 'reviews02.jpg',
                text: 'В частности, новая модель организационной деятельности обеспечивает актуальность переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Внезапно, акционеры крупнейших компаний ',
            },
        ]

    +el({
        tag: 'ul',
        class: 'reviews',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        each item in cardsReviews1
            li.reviews__item
                +reviews-card({
                    name: item.name,
                    place: item.place,
                    image: item.image,
                    text: item.text
                })
        li.reviews__item
            +form-card({
                mix: 'reviews__form-card',
                heading: 'Оставить отзыв'
            })
                +content-form({
                    userName: true,
                    email: true,
                    message: {
                      placeholder: 'Отзыв',
                    },
                    personalData: true,
                    submit: 'Отправить',
                })
        each item in cardsReviews2
            li.reviews__item
                +reviews-card({
                    name: item.name,
                    place: item.place,
                    image: item.image,
                    text: item.text
                })
