.logo {
  display: inline-block;
  text-decoration: none !important;

  &--header {
    .logo__picture,
    .logo__image {
      width: 40px;
      height: 40px;
    }
  }

  &--footer {
    .logo__picture,
    .logo__image {
      width: 145px;
      height: 75px;
    }
  }
}

.logo__picture,
.logo__image {
  display: block;
}

@include respond-to(medium) {
  .logo {
    width: auto;

    &--header {
      .logo_picture,
      .logo__image {
        width: 116px;
        height: 60px;
      }
    }
  }
}

@include respond-to(large) {
  .logo {
    width: auto;

    &--header {
      .logo_picture,
      .logo__image {
        width: 145px;
        height: 75px;
      }
    }

    &--footer {
      .logo_picture,
      .logo__image {
        width: 151px;
        height: 78px;
      }
    }
  }
}
