mixin button-video(data)
    +el({
        tag: 'button',
        class: 'btn-video',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'span',
            class: 'btn-video__text',
            text: 'Посмотрите видео',
        })
        +el({
            tag: 'span',
            class: 'btn-video__circle-outer',
        })
            +el({
                tag: 'span',
                class: 'btn-video__circle-inner',
            })
